a:hover{
    text-decoration:none;
}
.section-padding {
	padding: 40px 0;
}
.bottom {
    background-color: #e4b18d;
}
.bottom .copyright {
    color: #000809;
    font-weight: 600;
}
.bottom p {
    margin-bottom: 0;
    line-height: 10px;
    font-size: 16px;
    font-weight: 400;
}
.copyright p span {
    color: #000809;
}
.bottom .copyright p, .bottom .copyright a:hover{
    color: #000809;
}